version: "3.8"

services:
  react-app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: react-app
    ports:
      - "5173:5173"
    restart: unless-stopped
networks:
  default:
    external:
      name: ecommercenetwork